.main{
color: $WHITE-color;
}
.part{
    display: flex;
    background-color: $Peach-color;
    border-radius: 15px;
    background-image: url('../images/Oval.png');
    background-position: right;
    background-repeat: no-repeat;
    background-size: contain;
    align-items: center;
    padding-left: 9.5rem;
    justify-content: space-between;
.main_part1{
     width:540px ; 
     height: 350px;  
}
}


 .title {
    color: $WHITE-color;
    width: 100%;
    max-width: 540px;
    font-family: $body-ff;
 }
 .text {
    color: $WHITE-color;
     width: 100%;
     max-width: 445px;
     font-family: $body-ff;
     padding-top: 1.1rem; ;
}

@media screen and (max-width:900px) {
    .main_part1{
    text-align: center;
    }
    .part{
        flex-direction: column;
        background-position: center;
    }
    .main_img{
        width: 251px;
        height: 542px;
    }
}

@media screen and (max-width:1015px) {
    .main_part1{
      width: 100%;
      max-width: 500px;  
    }
}

@media screen and (max-width: 660px) {
    .main_part1{
        text-align: center;
      width: 100%;
      max-width: 400px;
      margin-right: 1rem;
      
    }    
    .main_img{
        max-width: 279px;
        width: 100%;
        padding:3rem 2rem ;
    }
}

@media screen and (max-width:653) {
    .main_part1{
        text-align: center;
      width: 100%;
      max-width: 400px;
      margin-right: 1rem;
      margin-bottom: 2rem;
    }    
    .main_img{
        max-width: 279px;
        width: 100%;
        padding:3rem 2rem ;
        margin-top: 2rem;
    }
}


.galarey__description{
display: flex;
flex-direction: column;
}
.galery_title {
   color: $WHITE-color;
font-size: 40px;
font-weight: 500;
line-height: 48px;
letter-spacing: 2px;
text-align: left;

}
.galery_link {
    color:$WHITE-color ;
    font-size: 15px;
    font-weight: 500;
    line-height: 22px;
    letter-spacing: 5px;
    text-align: left;
   
}
.galery_section {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('../images/laptop.png');
    background-repeat: no-repeat;
    width: 541px;
    height: 640px;
 }
.galery_section_top {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('../images/Bitmap.png');
    background-repeat: no-repeat;
    width: 541px;
    height: 308px;
    margin-bottom: 2.4rem;
}
.galery_section_bottom {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('../images/desing.png');
    background-repeat: no-repeat;
    width: 541px;
    height: 308px;
}

.galary-part{
    flex-direction: column;
}
.galary{
    display: flex;
    justify-content: center;
    margin-top: 16rem;
    gap: 3rem ;
}

.main_wrapper_image::after{
    content: '';
    display: inline-block;
    width: 4px;
    height: 8px;
    background-image: url('../../images/site-.svg');
    background-repeat: no-repeat;
    background-position: right;
}

@media screen and (max-width:980px) {
    .galary{
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content:center ;
        align-items: center;
    }
    .galery_section{
        width: 100%;
        max-width: 689px;
        height: 200px ;
        border-radius: 24px;
       
      
    }
    .galery_section_top{
       width: 689px;
        height: 200px ;
        border-radius: 24px;
    }
    .galery_section_bottom{
        
        width: 689px;
        height: 200px ;
        border-radius: 24px;
    }
}

@media screen and (max-width:610px) {
    .galary{
        margin-left: 15rem;
      align-items: center;
      justify-content: center;
      .galery_section{
        max-width: 689px;
        // height: 200px ;
      }
    }
    .galery_section{
        width: 100%;
        text-align: left;
        
        
        border-radius: 24px;
        background-image: url('../../images/Bitmap\ \(1\).png');
        background-repeat: no-repeat;
        background-size: contain;
       
    }
    .galery_section_top{
        width: 100%;
        max-width: 689px;
        height: 200px ;
        border-radius: 24px;
    }
    .galery_section_bottom{
        width: 100%;
        max-width: 689px;
        height: 200px ;
        border-radius: 24px;
    }
}
.galery_section:hover{
    opacity: 50%;
}
.galery_section_top:hover{
    opacity: 50%;
}
.galery_section_bottom:hover{
 opacity: 50%;
}




.persons {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    background-image: url('../../images/Rectangle.png');
    background-repeat: no-repeat;
    background-position: right;
    gap: 3rem;
    
}
.person_one {
    width: 100%;
    max-width: 350px;
    padding-top: 16rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    text-align: center;
    p{
        text-align: center;
    }
    h2{
        text-align: center;
    }

}
.person_two {
 width: 100%;
    max-width: 350px;
    padding-top: 16rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    text-align: center;
    p{
        text-align: center;
    }
    h2{
        text-align: center;
    }
}
.person_three {
    
    
    width: 100%;
    max-width: 350px;
    padding-top: 16rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    text-align: center;
    p{
        text-align: center;
    }
    h2{
        text-align: center;
       
    }   
}

.humans_title {
    font-family: 'Jost', sans-serif;
    font-size: 20px;
    font-weight: 500;
    line-height: 26px;
    letter-spacing: 5px;
    color: $DARK-GREY-color;
}

.humans-text {
    font-family: 'Jost', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0px;
    color: $DARK-GREY-color;
}
.piple_one{
    margin-left: 104px;
    margin-bottom: 48px;
    
}
.piple_two{
    margin-left: 104px;
    margin-bottom: 48px;
}

.piple_three{
    margin-left: 104px;
    margin-bottom: 48px;
}
.piple{
    margin-left:  200px;
    margin-bottom: 48px; 
}

@media screen and (max-width:900) {
   .persons{
    width: 100%;
    display: flex;
    flex-direction: column;
   } 
   .person_one{
    width: 100%;
    max-width: 350px;
    display: flex;
   }
   .person_two{
    width: 100%;
    max-width: 350px;
    display: flex;
   }
   .person_three{
    width: 100%;
    max-width: 350px;
    display: flex;
   }
}

.web_hero{
    background-color: $Peach-color;
    font-family: $body-ff;
    padding:64px 190px;
    width: 111.1rem;
    height: 25.2rem;
    text-align: center;
    background-image: url('../../images/Oval.png');
    background-repeat: no-repeat;
    background-position: right;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    border-radius: 15px;
}

@media screen and (max-width:1140px) {
    .web_hero{
        width: 100%;
        max-width: 100rem;
    } 
}


@media screen and (max-width:1028px) {
    .web_hero{
        width: 100%;
        max-width: 95rem;
    } 
}

@media screen and (max-width:982px) {
    .web_hero{
        width: 100%;
        max-width: 90rem;
    } 
}


@media screen and (max-width:931px) {
    .web_hero{
        width: 100%;
        max-width: 85rem;
    } 
}

@media screen and (max-width:763px) {
    .web_hero{
        width: 100%;
        max-width: 50rem;
    } 
}

.web_main_image{
   flex-direction: column;
   margin-left: auto;
   margin-right: auto;
   margin-right: auto;
   padding-top: 16rem;
}

.pictures{
    display: flex;
    gap: 3rem;
    padding-bottom: 3.2rem;
  
}

.pictures_two{
    display: flex;
    gap: 3rem;
   
}

.web_part_one {
    background-color: $dark_white_color;   
    padding:3.2rem;
    p{
        color: $DARK-GREY-color;
        padding-top: 1.6rem;
    }
    font-family: $body-ff;
    text-align: center;
}
.web_btn {
    color: $Peach-color;
}
.web_part_two {
    background-color: $dark_white_color;   
    padding:3.2rem;
    p{
        color: $DARK-GREY-color;
        padding-top: 1.6rem;
    }
    font-family: $body-ff;
    text-align: center;
}
.web_part__three {
    background-color: $dark_white_color;
    padding:3.2rem;
    p{
        color: $DARK-GREY-color;
        padding-top: 1.6rem;
    }
    font-family: $body-ff;
    text-align: center;
}

.web_part_four {
    background-color: $dark_white_color;   
    padding:3.2rem;
    p{
        color: $DARK-GREY-color;
        padding-top: 1.6rem;
    }
    font-family: $body-ff;
    text-align: center;
}
.web_part_five {
    background-color: $dark_white_color;   
    padding:3.2rem;
    p{
        color: $DARK-GREY-color;
        padding-top: 1.6rem;
    }
    font-family: $body-ff;
    text-align: center;
}
.web_part_six {
    background-color: $dark_white_color;   
    padding:3.2rem;
    p{
        color: $DARK-GREY-color;
        padding-top: 1.6rem;
    }
    font-family: $body-ff;
    text-align: center;
}
.web_text_one{
    width: 100%;
    flex-direction: column;
}


@media screen and (max-width:1093px) {
    .web_text_one{
        img{
           width: 100%;
           max-width: 300px;
        }
        p{
           width: 100%;
           max-width: 200px;
        }
        a{
           width: 100%;
           max-width: 200px;
        }
    }


    .web_text_two{
        img{
           width: 100%;
           max-width: 300px;
        }
        p{
           width: 100%;
           max-width: 200px;
        }
        a{
           width: 100%;
           max-width: 200px;
        }
    }

    .web_text_three{
        img{
           width: 100%;
           max-width: 300px;
        }
        p{
           width: 100%;
           max-width: 200px;
        }
        a{
           width: 100%;
           max-width: 200px;
        }
    }

    .web_text_four{
        img{
           width: 100%;
           max-width: 300px;
        }
        p{
           width: 100%;
           max-width: 200px;
        }
        a{
           width: 100%;
           max-width: 200px;
        }
    }

    .web_text_five{
        img{
           width: 100%;
           max-width: 300px;
        }
        p{
           width: 100%;
           max-width: 200px;
        }
        a{
           width: 100%;
           max-width: 200px;
        }
    }

    .web_text_six{
        img{
           width: 100%;
           max-width: 300px;
        }
        p{
           width: 100%;
           max-width: 200px;
        }
        a{
           width: 100%;
           max-width: 200px;
        }
    }
}



@media screen and (max-width:1028px) {
    
}

@media screen and (max-width:982px) {
    
}


@media screen and (max-width:931px) {
    
}

@media screen and (max-width:763px) {
    
}